<div class="jumbotron">
  <h2>Project Allocation System</h2>
  <p>A simple single-page web application to generate stable matching between students and projects.</p>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <h3>Algorithm</h3>
    </div>
    <p>This application runs <code>SPA-Group</code> algorithm to generate a stable matching. The detail of the algorithm can be referred to the report. The implementaion of the algorithm can be found in <code>spa-group.py</code></p>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h3>Adminstrator Account</h3>
      <ul>
        <li><strong>Username:</strong> <code>admin</code></li>
        <li><strong>Password:</strong> <code>fyp16022</code></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h3>Technologies</h3>
      <p>This back-end system is powered by <a href="https://www.djangoproject.com/">django</a> web framewrok. The front-end is using AngularJS 1.0.</p>
    </div>
  </div>
</div>
