<div class="page-header" div class="row" ng-init="getStudentInfo()">
  <h2>{{ student.name }} <small>(id {{ student.id }})</small></h2>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"><strong>Project Preference</strong></div>
      <div class="col-md-7" ng-show="student.preflist == ''">None</div>
      <div class="col-md-7" ng-show="student.preflist != ''">{{ student.preflist }}</div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Group(s)</h3>
  </div>
  <table class="table">
    <thead>
      <th>id</th>
      <th>Name</th>
      <th>Project Preference</th>
    </thead>
    <tbody ng-repeat="g in student.groups">
      <td>{{ g.id }}</td>
      <td><a href="#viewGroup/{{ g.id }}">{{ g.name }}</a></td>
      <td>{{ g.preflist }}</td>
    </tbody>
  </table>
</div>
